<app-login *ngIf="!(authService.user$ | async)"></app-login>
<div class="container text-center" *ngIf="authService.user$ | async">
    <h2 class="text-primary-emphasis">BookScout</h2>
    <h6 class="text-secondary-emphasis">Discover Your Next Great Read</h6>
    <hr>

    <div *ngFor="let book of books" class="books-container">
        <div class="book-tile">
            <div class="book-img">
                <img [src]="book.thumbnail || '../../../../../assets/images/book-cover.gif'" alt="Thumbnail not available">
            </div>
            <div class="book-info">
                <h4>{{book.title}} <span class="author-name">by {{book.author}}</span></h4>
                <h6>Available Copies {{book.quantity}}</h6>
                <p>{{book.description}}</p>
                <div class="buttons">
                    <button type="button" class="btn btn-link" (click)="gotoBookDetail(book._id)">know more</button>
                </div>
            </div>
        </div>
    </div>
</div>