<div class="container">
    <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img [src]="book.thumbnail" alt="Thumbnail not available"  height="250">
              </div>
              <div class="actions mb-3 mt-4">
                <div class="action">
                  <button class="btn btn-outline-secondary mb-2" (click)="borrow(book._id)"><i class="fa fa-check"></i></button>
                  <div>Borrow</div>
                </div>
                <div class="action">
                  <button class="btn btn-outline-secondary mb-2" (click)="addToWishlist(book._id)"><i class="fa fa-bookmark"></i></button>
                  <div>Wishlist</div>
                </div>
              </div>
              <div class="star-rating">
                <span class="star" *ngFor="let star of stars; let i = index" (click)="addRating(i + 1)">
                  <i [ngClass]="{'fa': true, 'fa-star': i < currentRating, 'fa-star-o': i >= currentRating}"></i>
                </span>
              </div>
              <hr>
              <div class="row ms-3">
                <div class="col-sm-3 text-secondary">
                  <h6 class="mb-0">Title</h6>
                </div>
                <div class="col-sm-9">
                  {{book.title}}
                </div>
              </div>
              <hr>
              <div class="row ms-3">
                <div class="col-sm-3 text-secondary">
                  <h6 class="mb-0">Author</h6>
                </div>
                <div class="col-sm-9">
                    {{book.author}}
                </div>
              </div>
              <hr>
              <div class="row ms-3">
                <div class="col-sm-3 text-secondary">
                  <h6 class="mb-0">Publisher</h6>
                </div>
                <div class="col-sm-9">
                    {{book.publisher}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3 text-secondary">
                  <h6 class="mb-0">Overview</h6>
                </div>
                <div>{{book.description}}</div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3 text-secondary">
                  <h6 class="mb-0">Ratings</h6>
                </div>
                <div class="col-sm-9">
                    {{book.ratings}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3 text-secondary">
                  <h6 class="mb-0">Genres</h6>
                </div>
                <div class="col-sm-9">
                    {{book.genres}}
                </div>
              </div>
            </div>
          </div>
          <h6>Add Review</h6>
          <div class="card mb-3">
            <div class="card-body" >
              <form [formGroup]="reviewForm" (ngSubmit)="reviewForm.valid && addReview()">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Add Review" aria-label="review" 
                    aria-describedby="button-addon2" formControlName="review">
                  <button class="btn btn-outline-success" type="submit" id="button-addon2">Add</button>
                </div>
              </form>
            </div>
          </div>
          <h6 *ngIf="reviews.length > 0">Reviews</h6>
          <div *ngIf="reviews.length > 0" class="card mb-3">
            <div class="card-body">
              <div *ngFor="let review of reviews">
                <div class="row">
                  <div class="col text-primary">
                    <h6 class="mb-0"><strong>{{review.username}}</strong></h6>
                  </div>
                  <div class="col text-secondary">
                    <p class="mb-0">{{review.createdAt}}</p>
                  </div>
                </div>
                <div class="col-sm-3 text-secondary">
                  <h6 class="mb-0">Rating: {{review.rating}}</h6>
                </div>
                <div>{{review.review}}</div>
                <hr *ngIf="reviews.length > 1">
              </div>
            </div>
          </div>
        </div>
    </div>
</div>