<div class="container">
    <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img [src]="book.thumbnail" alt="Thumbnail not available"  height="250">
              </div>
              <div class="actions mb-3 mt-4">
                <div class="action">
                  <button class="btn btn-outline-secondary mb-2" (click)="borrow(book._id)"><i class="fa fa-check"></i></button>
                  <div>Borrow</div>
                </div>
                <div class="action">
                  <button class="btn btn-outline-secondary mb-2" (click)="addToWishlist(book._id)"><i class="fa fa-bookmark"></i></button>
                  <div>Wishlist</div>
                </div>
              </div>
              <div class="star-rating">
                <span class="star" *ngFor="let star of stars; let i = index" (click)="addRating(i + 1)">
                  <i [ngClass]="{'fa': true, 'fa-star': i < currentRating, 'fa-star-o': i >= currentRating}"></i>
                </span>
              </div>
              <hr>
              <div class="row ms-3">
                <div class="col-sm-3 text-secondary">
                  <h6 class="mb-0">Title</h6>
                </div>
                <div class="col-sm-9">
                  {{book.title}}
                </div>
              </div>
              <hr>
              <div class="row ms-3">
                <div class="col-sm-3 text-secondary">
                  <h6 class="mb-0">Author</h6>
                </div>
                <div class="col-sm-9">
                    {{book.author}}
                </div>
              </div>
              <hr>
              <div class="row ms-3">
                <div class="col-sm-3 text-secondary">
                  <h6 class="mb-0">Publisher</h6>
                </div>
                <div class="col-sm-9">
                    {{book.publisher}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3 text-secondary">
                  <h6 class="mb-0">Overview</h6>
                </div>
                <div>{{book.description}}</div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3 text-secondary">
                  <h6 class="mb-0">Ratings</h6>
                </div>
                <div class="col-sm-9">
                    {{book.ratings}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3 text-secondary">
                  <h6 class="mb-0">Genres</h6>
                </div>
                <div class="col-sm-9">
                    {{book.genres}}
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>